* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif; }

ul {
  list-style: none; }

img {
  width: 100%;
  display: block; }

.container {
  width: 1172px;
  max-width: 1172px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-direction: row;
  margin: 0 -10px; }

.col {
  padding-left: 10px;
  padding-right: 10px; }

.col-1 {
  width: calc(100%*1/12); }

.col-2 {
  width: calc(100%*2/12); }

.col-3 {
  width: calc(100%*3/12); }

.col-4 {
  width: calc(100%*4/12); }

.col-5 {
  width: calc(100%*5/12); }

.col-6 {
  width: calc(100%*6/12); }

.col-7 {
  width: calc(100%*7/12); }

.col-8 {
  width: calc(100%*8/12); }

.col-9 {
  width: calc(100%*9/12); }

.col-10 {
  width: calc(100%*10/12); }

.col-11 {
  width: calc(100%*11/12); }

.col-12 {
  width: calc(100%*12/12); }

.header-content {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 48px;
  left: 10%;
  z-index: 1; }
  .header-content .logo {
    padding-top: 6px; }
    .header-content .logo .logo-link {
      width: 138px;
      height: 36px; }
  .header-content .nav-list {
    text-align: center; }
    .header-content .nav-list .nav-item {
      display: inline;
      height: 24px;
      margin: 12px 48px; }
      .header-content .nav-list .nav-item .nav-link {
        line-height: 48px;
        text-decoration: none;
        color: #fbb03b;
        font-weight: 700;
        font-size: 18px; }
  .header-content .option-item {
    display: inline-block;
    height: 24px;
    margin: 12px 0;
    padding-left: 12px;
    padding-right: 12px; }
    .header-content .option-item .option-link {
      height: 24px; }

.section {
  width: 100%; }
  .section .section-title {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 40px; }
  .section .section-action {
    position: absolute;
    top: 10%;
    right: 10%; }
  .section.section-banner {
    position: relative;
    top: 0; }
    .section.section-banner .banner::after {
      width: 100%;
      height: 100%;
      background-color: #3333;
      content: "";
      position: absolute;
      top: 0;
      left: 0; }
  .section.section-collection {
    padding-top: 48px;
    padding-bottom: 48px; }
  .section.section-product {
    position: relative;
    padding-top: 48px;
    padding-bottom: 60px; }
  .section.section-newsletter {
    position: relative;
    padding-bottom: 0; }
  .section.section-newsletter::after {
    width: 100%;
    height: 100%;
    background-color: #3333;
    content: "";
    position: absolute;
    top: 0;
    left: 0; }
  .section.section-benefit {
    background-color: #f7f7f7;
    padding-top: 48px;
    padding-bottom: 54px; }

footer {
  background-color: #fbb03b; }
  footer .footer-top {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    padding-top: 46px;
    padding-bottom: 40px; }
    footer .footer-top .footer-left {
      display: flex;
      flex-direction: column; }
      footer .footer-top .footer-left .logo-link {
        width: 138px;
        height: 36px; }
      footer .footer-top .footer-left .shop-info {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        margin-top: 32px; }
      footer .footer-top .footer-left .social-list {
        margin-top: 56px; }
        footer .footer-top .footer-left .social-list .social-item {
          margin-right: 32px; }
    footer .footer-top .footer-right {
      display: flex;
      flex-direction: row; }
      footer .footer-top .footer-right .list-title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px; }
  footer .copyright {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    color: #ffffff;
    border-top: 1px solid #ffffff; }

.list-group {
  margin-top: 20px; }
  .list-group .list-group-item {
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400; }

.card {
  position: relative; }
  .card .card-title-link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #333333;
    text-decoration: none; }
  .card .card-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #333333; }
  .card .card-discount-price {
    color: #ff0000; }
  .card .card-original-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #cecece;
    float: right; }
  .card .card-discount {
    position: absolute;
    top: 24px;
    left: 20px; }

.btn {
  border-radius: 56px;
  padding: 16px 28px; }

.btn-default {
  color: #333333;
  background-color: #ffff;
  border: 0; }

.btn-transparent {
  border: 1px solid #c4c4c4;
  background-color: transparent; }

.btn-warning {
  background-color: #fbb03b;
  color: #ffff;
  border: 0; }

.form-input {
  width: 50%;
  border: 1px solid #333333;
  border-radius: 61px;
  padding: 16px 28px; }

.badge {
  display: inline-block;
  width: 56px;
  height: 30px;
  padding-top: 6px;
  background: #ff0000;
  border-radius: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff; }

.newsletter {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 1; }
  .newsletter .newsletter-title {
    width: 90%;
    margin-left: 5%;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px; }
  .newsletter .form-input {
    width: 60%;
    border: 0;
    border-radius: 61px;
    padding: 16px 28px; }
  .newsletter .subscribe {
    margin-left: 40px; }

.collection-list .collection-item {
  position: relative; }
  .collection-list .collection-item .collection-discount {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 1; }
  .collection-list .collection-item .collection-btn {
    position: absolute;
    left: 40px;
    top: 258px;
    z-index: 1; }
  .collection-list .collection-item .collection-title {
    width: 55%;
    position: absolute;
    left: 40px;
    right: 69.01%;
    top: 46.52%;
    bottom: 43.45%;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    z-index: 1; }
.collection-list .collection-item::after {
  width: 100%;
  height: 100%;
  background-color: #3333;
  opacity: 0.5;
  content: "";
  position: absolute;
  top: 0;
  left: 0; }

.banner-content {
  width: 30%;
  position: absolute;
  top: 25%;
  left: 15%;
  z-index: 1; }
  .banner-content .banner-title {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 101.5%;
    color: #ffffff; }
  .banner-content .banner-action {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    height: 36px;
    color: #ffffff;
    display: flex; }
    .banner-content .banner-action .banner-action-img {
      width: 36px;
      height: 36px;
      margin-right: 32px; }

.benefit {
  width: 80%;
  padding-top: 36px;
  padding-bottom: 24px;
  position: absolute;
  left: 0;
  bottom: 7%;
  background-color: #ffffff;
  border-radius: 0 70px 0 0; }

.banner-benefit {
  padding-left: 15%; }

.benefit-list .benefit-item {
  margin-right: 48px; }
  .benefit-list .benefit-item.benefit-horizontal {
    display: flex;
    flex-direction: row; }
  .benefit-list .benefit-item .benefit-img {
    width: 36px;
    height: 36px;
    padding: 10px 10px;
    margin-right: 20px;
    background-color: #fff3df; }
  .benefit-list .benefit-item .benefit-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #808080; }
  .benefit-list .benefit-item .benefit-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-warning {
  color: #fbb03b; }

/*# sourceMappingURL=style.css.map */
