.cart-title {
  font-size: 20px;
  font-weight: bold;
  padding: 52px 0 66px 0;
}
.table {
  font-size: 14px;
}
.table-header {
  color: #C1C1C1;
  margin-bottom: 32px;
}
.cart-item {
  height: 70px;
  margin-bottom: 10px;
}
.cart-item img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 12px;
}
.cart-item .cart-item-name {
  font-size: 16px;
  font-weight: bold;
}
.cart-item .btn-remove {
  border: 0 solid;
  background-color: white;
}
.cart-item .price {
  font-weight: bold;
}
.ammount {
  position: relative; 
}
.ammount .decrease {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 35px;
  padding: 10px;
  border: 0 solid;
  background-color: white;
}
.ammount .increase {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 35px;
  padding: 10px;
  border: 0 solid;
  background-color: white;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.justify-conent-left {
  justify-content: left;
}
.cart-input {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
  text-align: center;
  border-radius: 36px;
  border: 1px solid #D8D8D8;
}
.checkout {
  display: flex;
  align-items: center;
  margin-top: 88px;
  font-size: 16px;
}
.back {
  height: 24px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: black;
}
.back img {
  width: 24px;
  padding-right: 12px;
}
.total-cost {
  font-size: 16px;
  font-weight: bold;
}
