footer {
  background-color: $color-primary;
  .footer-top {
    display: flex;
    flex-direction: row;
    color: map-get($color, 'white');
    padding-top: 46px;
    padding-bottom: 40px;
    .footer-left {
      display: flex;
      flex-direction: column;
      .logo-link {
        width: 138px;
        height: 36px;
      }
      .shop-info {
        font-weight: 400;
        font-size: map-get($font-size, sm);
        line-height: 1.5;
        margin-top: 32px;
      }
      .social-list {
        margin-top: 56px;
        .social-item {
          margin-right: 32px;
        }
      }
    }
    .footer-right {
      display: flex;
      flex-direction: row;
      .list-title {
        font-weight: 700;
        font-size: map-get($font-size, normal);
        line-height: 1.5;
      }
      .list-group {
        margin-top: 20px;
        .list-group-item {
          padding-bottom: 16px;
          font-size: map-get($font-size, sm);
          line-height: 1.5;
          font-weight: 400;
        }
      }
    }
  }
  .copyright {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    color: map-get($color, 'white');
    border-top: 1px solid;
    font-size: map-get($font-size, xs);
  }
}
@media (max-width: 375px){
  footer {
    .footer-top{
      .footer-left{
        .social-list {
          display: none;
        }
      }
      .footer-right {
        display: flex;
        flex-wrap: wrap;
        .list-title {
          padding-top: 24px;
        }
      }
    }  
  }
}
