.container {
  width: 1172px;
  max-width: 1172px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
  margin: 0 -10px;
}
.col {
  padding-left: 10px;
  padding-right: 10px;
}
@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc(100%*#{$i}/12);
  }
}
