.header{
  position: absolute;
  top: 4.8rem;
  width: 100%;
  z-index: 1;
  .header-content {
    height: 4.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo {
      padding-top: 6px;
      .logo-link {
        width: 138px;
        height: 36px;
      }
    }
    .nav-list {
      text-align: center;
      .nav-item {
        display: inline;
        height: 24px;
        margin: 12px 48px;
        .nav-link {
          line-height: 48px;
          text-decoration: none;
          color: $color-primary;
          font-weight: 700;
          font-size: map-get($font-size, lg);
        }
      }
    }
    .option-item {
      display: inline-block;
      height: 24px;
      margin: 12px 0;
      padding-left: 12px;
      padding-right: 12px;
      .option-link {
        height: 24px;
      }
    }
  }
}
@media (max-width: 375px){
  .header {
    top: 0;
    background-color: #ffff;
    .header-content {
      .logo {
        .logo-link {
          color: black;
        }
      }
      .nav-list {
        display: none;
      }
    }
  }
}
