.section {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 60px;
  .section-title {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 40px;
  }
  .section-action {
    position: absolute;
    top: 10%;
    right: 10%;
  }
  &.section-banner {
    position: relative;
    top: 0;
    padding-top: 0;
  }
  &.section-product {
    position: relative;
  }
  &.section-newsletter {
    position: relative;
    padding-bottom: 0;
  }
  &.section-benefit {
    background-color: #f7f7f7;
  }
}
