.section {
  width: 100%;
  .section-title {
    font-style: normal;
    font-weight: 300;
    font-size: map-get($font-size, xxxl);
    line-height: 48px;
    color: #333333;
    margin-bottom: 40px;
  }
  .section-action {
    position: absolute;
    top: 10%;
    right: 10%;
  }
  &.section-banner {
    position: relative;
    top: 0;
    .banner::after {
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &.section-collection {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  &.section-product {
    position: relative;
    padding-top: 48px;
    padding-bottom: 60px;
  }
  &.section-newsletter {
    position: relative;
    padding-bottom: 0;
  }
  &.section-newsletter::after {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000000 33.28%, rgba(0, 0, 0, 0) 94.05%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
  }
  &.section-benefit {
    background-color: #f7f7f7;
    padding-top: 48px;
    padding-bottom: 54px;
  }
}
