.badge {
  display: inline-block;
  padding: 6px 9px;
  background: #ff0000;
  border-radius: 20px;
  font-weight: 700;
  font-size: map-get($font-size, xs);
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 375px){
  .badge {
    padding: 4px 8px;
    font-size: 8px;
    line-height: 12px;
  }
}
