.btn {
  border-radius: 56px;
  padding: 16px 28px;
}
.btn-default {
  color: #333333;
  background-color: #ffff;
  border: 0;
}
.btn-transparent {
  border: 1px solid #c4c4c4;
  background-color: transparent;
}
.btn-warning {
  background-color: $color-primary;
  color: #ffff;
  border: 0;
}
