.discount {
  position: absolute;
  top: 24px;
  left: 20px;
  display: inline-block;
  width: 56px;
  height: 30px;
  padding-top: 6px;
  background: #ff0000;
  border-radius: 20px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}